<!DOCTYPE html>
<html>

<head>
<title>URL Shortener</title>
  <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <h1>FreeCodeCamp API Project: URL Shortener</h1>
    <h3>User stories:</h3>
    <ul>
      <li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
      <li>When I visit that shortened URL, it will redirect me to my original link.</li>
    </ul>
    <h3>Example creation usage:</h3>
    <p>
      <pre>https://url-shortener-mhjo.glitch.me/new/https://www.google.com</pre>
    </p>
    <h3>Example creation output</h3>
    <p>
      <pre>
      {
        "original_url":"https://www.google.com",
        "short_url":"https://url-shortener-mhjo.glitch.me/1"
      }
      </pre>
    </p>
    <h3>Usage:</h3>
    <pre>https://url-shortener-mhjo.glitch.me/1</pre>
    <h3>Will redirect to:</h3>
    <pre>https://www.google.com/</pre>
  </div>
</body>

</html>
