/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
}

.container {
	padding: 0;
	margin: 40px 40px;
}

pre {
  background-color: #ff000007;
  border: 1px solid #111111;
}
